HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.project
.settings/
.loadpath
.recommenders

### Secrets / env ###
*.env

# ==============================
# Terraform
# ==============================

# Terraform working directories
**/.terraform/

# Terraform state
**/*.tfstate
**/*.tfstate.*

# Terraform variable files - may contain secrets
**/terraform.tfvars
**/*.tfvars

# Terraform plan files
**/*.tfplan
**/*.plan

# Terraform crash logs
**/crash.log
**/crash.*.log

# Terraform override files
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Terraform lock file
# KEEP .terraform.lock.hcl in Git